.adminpage {
  /* background-color: var(--pinkk); */
  background-color: #fbeaeb;
  width: 100%;
  height: 100%;
}

.usersEntriesSelect {
  margin-left: 2%;
  width: 100%;
}

.applyButton {
  margin-top: 10px;
  margin-left: 10%;
}

.exportButton {
  margin-top: 10px;
  margin-left: 15px;
  color: rebeccapurple;
}

.divider {
  margin-bottom: 2%;
}

.userDisabled {
  color: grey;
}
