.adminpage {
  /* background-color: var(--pinkk); */
  background-color: #fbeaeb;
  width: 100vw;
  height: 100vh;
}

.usersEntriesSelect {
  margin-left: 2%;
  width: 100%;
}

.applyButton {
  margin-top: 10px;
  margin-left: 10%;
}

.exportButton {
  margin-top: 10px;
  margin-left: 15px;
  color: rebeccapurple;
}

.divider {
  margin-bottom: 2%;
}
