<div class="adminpage">
  <mat-tab-group mat-stretch-tabs (selectedTabChange)="selectedTabChange($event)">
    <!-- Manage users tab -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>group</mat-icon>
        Users
      </ng-template>
      <ng-template matTabContent>
        <mat-form-field appearance="outline">
          <mat-label>Create or edit user</mat-label>
          <mat-select (selectionChange)="onUserProfileSelectionChange($event.value)">
            <mat-option [value]="emptyUser">Create new user</mat-option>
            <mat-option *ngFor="let user of allUsers" [value]="user">{{ user.userId }} - {{ user.firstName }}</mat-option>
          </mat-select>
        </mat-form-field>

        <app-userform
          *ngIf="selectedUserProfile"
          (userFormEvent)="receiveUserFormEvent($event)"
          [user]="selectedUserProfile"
        ></app-userform>
      </ng-template>
    </mat-tab>

    <!-- List entries tab -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>date_range</mat-icon>
        Entries
      </ng-template>
      <ng-template matTabContent>
        <div class="row no-gutters justify-content-center">
          <div class="col-6">
            <mat-form-field appearance="outline" class="usersEntriesSelect">
              <mat-label>Select users for viewing</mat-label>
              <mat-select (selectionChange)="onUserEntriesSelectionChange($event.value)" multiple>
                <mat-option #allSelected [value]="-1">All</mat-option>
                <mat-option
                  [disabled]="allSelected.selected"
                  *ngFor="let user of allUsers"
                  [value]="user.userId"
                  [ngClass]="{ userDisabled: user.disabled === true }"
                  >{{ user.userId }} - {{ user.firstName }} {{ user.disabled ? ' --- Deleted' : '' }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col">
            <button (click)="handleApplyButton()" mat-stroked-button color="primary" class="applyButton">Apply</button>
          </div>
          <div class="col">
            <button mat-stroked-button class="exportButton" (click)="exportToCsv()">
              <!-- Export -->
              <mat-icon>cloud_download</mat-icon>
            </button>
          </div>
        </div>

        <mat-divider class="divider"></mat-divider>

        <app-listworkentries
          (workEntriesChangedEvent)="receiveWorkEntriesChangedEvent($event)"
          [usersIds]="allUsersIds"
          [useInputUsers]="true"
        ></app-listworkentries>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
