.frontpage {
  background-color: #fbeaeb;
  width: 100%;
  height: 100%;
}

.backgroundColor {
  background-color: #fbeaeb;
}

.text {
  color: #2f3c7e;
}

.pageicon {
  width: 75%;
  margin-left: 12%;
}
