<div class="workentrypage">
  <mat-tab-group mat-stretch-tabs class="mat-elevation-z3">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>add_circle_outline</mat-icon>
        New
      </ng-template>

      <ng-template matTabContent>
        <app-addworkentry></app-addworkentry>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>date_range</mat-icon>
        List
      </ng-template>
      <ng-template matTabContent>
        <app-listworkentries></app-listworkentries>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
