<div *ngIf="!workMessages.length">
  <span>No messages..</span>
</div>

<div *ngIf="workMessages.length">
  <p *ngFor="let message of workMessages">{{ message.firstName }} {{ message.lastName }} - {{ message.workMessage }}</p>
</div>

<div class="">
  <mat-form-field appearance="fill" class="sendMessageInput">
    <!-- <mat-label>......</mat-label> -->
    <input [(ngModel)]="messageText" matInput placeholder="Enter message" />
    <mat-icon class="sendIcon" (click)="handleSendMessageClick()" matSuffix>send</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>
</div>
