<div class="adminpage">
  <mat-tab-group mat-stretch-tabs>
    <!-- Manage users tab -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>group</mat-icon>
        Users
      </ng-template>
      <ng-template matTabContent>
        <!-- Content -->
        <app-userform
          (userSavedEvent)="receiveSavedUser($event)"
          [user]="user"
        ></app-userform>
      </ng-template>
    </mat-tab>

    <!-- List entries tab -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>date_range</mat-icon>
        Entries
      </ng-template>
      <ng-template matTabContent>
        <div class="row no-gutters justify-content-center">
          <div class="col-8">
            <mat-form-field appearance="outline" class="usersSelect">
              <mat-label>Select users for viewing</mat-label>
              <mat-select
                (selectionChange)="onSelectionChange($event.value)"
                multiple
              >
                <mat-option #allSelected [value]="-1">All</mat-option>
                <mat-option
                  [disabled]="allSelected.selected"
                  *ngFor="let user of allUsers"
                  [value]="user.userId"
                  >{{ user.userId }} - {{ user.firstName }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-4">
            <button
              (click)="handleApplyButton()"
              mat-stroked-button
              color="primary"
              class="applyButton"
            >
              Apply
            </button>
          </div>
        </div>

        <mat-divider class="divider"></mat-divider>

        <app-listworkentries
          [usersIds]="allUsersIds"
          [useInputUsers]="true"
        ></app-listworkentries>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
