<div class="workMessagesTab">
  <mat-accordion *ngIf="workEntries.length">
    <mat-expansion-panel *ngFor="let workEntry of workEntries">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ workEntry.title }}
        </mat-panel-title>
        <mat-panel-description>
          {{ workEntry.customerName }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Content loaded on open -->
      <ng-template matExpansionPanelContent>
        <app-workentry-expansion-content [workEntry]="workEntry" [user]="user"></app-workentry-expansion-content>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
