<div class="addworkentry">
  <form [formGroup]="addWorkEntryForm">
    <div
      class="row justify-content-center no-gutters"
      *ngIf="showFormField('title')"
    >
      <mat-form-field appearance="outline">
        <mat-label>Title:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter here..."
          formControlName="title"
        />
        <mat-icon matSuffix>subject</mat-icon>
      </mat-form-field>
    </div>

    <div
      class="row justify-content-center no-gutters"
      *ngIf="showFormField('details')"
    >
      <mat-form-field appearance="outline">
        <mat-label>Details:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter here..."
          formControlName="details"
        />
        <!-- <textarea
        rows="2"
        matInput
        type="text"
        placeholder="Enter here..."
        formControlName="details"
      ></textarea> -->
        <mat-icon matSuffix>description</mat-icon>
      </mat-form-field>
    </div>

    <div
      class="row justify-content-center no-gutters"
      *ngIf="showFormField('customerName')"
    >
      <mat-form-field appearance="outline">
        <mat-label>Customer:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter here..."
          formControlName="customerName"
        />
        <mat-icon matSuffix>account_box</mat-icon>
      </mat-form-field>
    </div>

    <div
      class="row justify-content-center no-gutters"
      *ngIf="showFormField('costCents')"
    >
      <mat-form-field appearance="outline">
        <mat-label>Cost:</mat-label>
        <input
          matInput
          placeholder="Enter here..."
          formControlName="costCents"
          inputmode="numeric"
        />
        <mat-icon matSuffix>money</mat-icon>
        <mat-error *ngIf="addWorkEntryForm.get('costCents').invalid"
          >Allowed numbers, one comma, and max two decimal points</mat-error
        >
      </mat-form-field>
    </div>

    <div
      class="row justify-content-center no-gutters"
      *ngIf="showFormField('date')"
    >
      <mat-form-field appearance="outline">
        <mat-label>Date:</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          (focus)="picker.open()"
          formControlName="date"
        />
        <mat-icon matSuffix>event</mat-icon>
        <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div
      class="row justify-content-center no-gutters"
      *ngIf="showFormField('startTime')"
    >
      <mat-form-field appearance="outline">
        <mat-label>Start time:</mat-label>
        <input
          matInput
          type="time"
          step="60"
          placeholder="Enter here..."
          formControlName="startTime"
        />
        <mat-icon matSuffix>access_time</mat-icon>
      </mat-form-field>
    </div>

    <div
      class="row justify-content-center no-gutters"
      *ngIf="showFormField('endTime')"
    >
      <mat-form-field appearance="outline">
        <mat-label>End time:</mat-label>
        <input
          matInput
          type="time"
          step="60"
          placeholder="Enter here..."
          formControlName="endTime"
        />
        <mat-icon matSuffix>access_time</mat-icon>
      </mat-form-field>
    </div>

    <div
      class="row justify-content-center no-gutters"
      *ngIf="showFormField('breakMIN')"
    >
      <mat-form-field appearance="outline">
        <mat-label>Break (min):</mat-label>
        <input
          matInput
          step="1"
          placeholder="Enter here..."
          formControlName="breakMIN"
          inputmode="numeric"
        />
        <mat-icon matSuffix>free_breakfast</mat-icon>
        <mat-error *ngIf="addWorkEntryForm.get('breakMIN').invalid"
          >Only numbers up to 1000 and no decimals</mat-error
        >
      </mat-form-field>
    </div>

    <div
      class="row justify-content-center no-gutters"
      *ngIf="showFormField('charged')"
    >
      <mat-label>Charged:</mat-label>
      <mat-slide-toggle formControlName="charged"></mat-slide-toggle>
      <mat-icon matSuffix>attach_money</mat-icon>
      <br />
    </div>

    <div class="row justify-content-center no-gutters">
      <button
        mat-raised-button
        (click)="handleSaveButtonClick()"
        [disabled]="addWorkEntryForm.invalid || addWorkEntryForm.pristine"
      >
        Save</button
      ><button mat-raised-button (click)="handleClearButtonClick()">
        Clear
      </button>
    </div>
  </form>
</div>
