<div class="resetpassword-page">
  <h2 class="row justify-content-center">Reset password</h2>

  <div class="row justify-content-center">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password" />
    </mat-form-field>
  </div>
  <div class="row justify-content-center">
    <mat-form-field appearance="outline">
      <mat-label>Verify password</mat-label>
      <input matInput type="password" [(ngModel)]="verifyPassword" />
    </mat-form-field>
  </div>

  <div class="row justify-content-center">
    <button
      (click)="handleResetPasswordButton()"
      mat-raised-button
      color="primary"
    >
      Reset password
    </button>
  </div>

  <mat-card class="matcardResponse" *ngIf="passwordChanged"
    >Well done! Your password is now changed! Please try to log in with your new
    password! You will be redirected in a sec..
  </mat-card>

  <mat-card class="matcardResponse" *ngIf="unsuccessful"
    >Something is not right.. Forgot old password? Start process from issuing a
    forgot password recovery link..
  </mat-card>
</div>
