.loginpage {
  /* background-color: var(--pinkk); */
  background-color: #fbeaeb;
  width: 100%;
  height: 100%;
}

.workAppText {
  color: #2f3c7e;
}

.forgotPasswordText {
  margin-top: 2%;
  cursor: pointer;
}

.forgotPasswordInput {
  margin-top: 4%;
}

.nextStepsCard {
  margin-top: 5%;
}
