.loginpage {
  /* background-color: var(--pinkk); */
  background-color: #fbeaeb;
  width: 100vw;
  height: 100vh;
}

.forgotPasswordText {
  margin-top: 2%;
  cursor: pointer;
}

.forgotPasswordInput {
  margin-top: 4%;
}

.forgotPasswordButton {
  /* margin-top: 1%; */
}

.nextStepsCard {
  margin-top: 5%;
}
